{% extends 'layout.html' %}
{% block body %}
	<h1>About Us</h1>
	<p class="lead">We will save the stray animals and let them find a new home!
	<br>If you want to have a pet, don't buy it in a pet shop.  You can choose your besties in UTOPIA!
	<br>We welcome volunteers to come take care out babies together!
	<br>
	Come find us in UTOPIA, Rainbow Road, Kowloon, Hong Kong</p>
	<br>
	<h2>Contact Us</h2>
	<p class="lead">Email: utopia@gmail.com
		<br>Phone Number: 12345678
		<br>Fax Number: 87654321</p>
{% endblock %}