{% extends 'layout.html' %}
{% block body %}
	<h1>Gallery</h1>

		<style>
		div.gallery {
		  margin: 5px;
		  border: 1px solid #ccc;
		  float: left;
		  width: 180px;
		}

		div.gallery:hover {
		  border: 1px solid #777;
		}

		div.gallery img {
		  width: 100%;
		  height: auto;
		}

		div.desc {
		  padding: 15px;
		  text-align: center;
		}
		</style>
		</head>
		<body>
		
		<div class="gallery">
		  <a target="_blank" href="static/cat1.jpg">
		    <img src="static/cat1.jpg" alt="cat1" width="600" height="400">
		  </a>
		</div>

		<div class="gallery">
		  <a target="_blank" href="static/cat2.jpg">
		    <img src="static/cat2.jpg" alt="cat2" width="600" height="400">
		  </a>
		</div>

		<div class="gallery">
		  <a target="_blank" href="static/cat3.jpg">
		    <img src="static/cat3.jpg" alt="cat3" width="600" height="400">
		  </a>
		</div>

		<div class="gallery">
		  <a target="_blank" href="static/cat4.jpg">
		    <img src="static/cat4.jpg" alt="cat4" width="600" height="400">
		  </a>
		</div>

		<div class="gallery">
		  <a target="_blank" href="static/cat5.jpg">
		    <img src="static/cat5.jpg" alt="cat5" width="600" height="400">
		  </a>
		</div>

		<div class="gallery">
		  <a target="_blank" href="static/dog1.jpg">
		    <img src="static/dog1.jpg" alt="dog1" width="600" height="400">
		  </a>
		</div>

		<div class="gallery">
		  <a target="_blank" href="static/dog2.jpg">
		    <img src="static/dog2.jpg" alt="dog2" width="600" height="400">
		  </a>
		</div>

		<div class="gallery">
		  <a target="_blank" href="static/dog3.jpg">
		    <img src="static/dog3.jpg" alt="dog3" width="600" height="400">
		  </a>
		</div>

		<div class="gallery">
		  <a target="_blank" href="static/dog4.jpg">
		    <img src="static/dog4.jpg" alt="dog4" width="600" height="400">
		  </a>
		</div>

		<div class="gallery">
		  <a target="_blank" href="static/dog5.jpg">
		    <img src="static/dog5.jpg" alt="dog5" width="600" height="400">
		  </a>
		</div>

		<div class="gallery">
		  <a target="_blank" href="static/dog6.jpg">
		    <img src="static/dog6.jpg" alt="dog6" width="600" height="400">
		  </a>
		</div>


{% endblock %}