{% extends 'layout.html' %}
{% block body %}
<div class="jumbotron">
	<div class="row">
		<div class="col-md-12">
			<h1 class="display-4">Welcome to UTOPIA</h1>
			<p class="lead">Let them be part of your family!</p>
			<a class="btn btn-primary btn-lg", href="register.html" role="button">Join Us Now</a>			
		</div>
	</div>	
</div>


	<div class="row">
		<div class="col-md-12" text-center>
			<h2>Testimonial</h2>
			<div class="row">
				<div class="col-md-4 text-left">
					<div class="upper">
						<img src="static/feeling1.jpg" width="600" height="400">
					</div>
					<div class="lower">
						<h4>Because of UTOPIA, we have Kiki to be part of us!  My kids love her a lot!!</h4>
					</div>
						
				</div>
			</div>
			<div class="row">
				<div class="col-md-4 text-left">
					<div class="upper">
						<img src="static/feeling2.jpg" width="600" height="400">
					</div>
					<div class="lower">
						<h4>Although Bobo, Cherrie and Ben are naughty, but i will always love them and stay next to them!</h4>
					</div>
						
				</div>
			</div>
			<div class="row">
				<div class="col-md-4 text-left">
					<div class="upper">
						<img src="static/feeling3.jpg" width="600" height="400">
					</div>
					<div class="lower">
						<h4>Gigi is already old when I adopt her.  But she is great! She gets along with Chubby~~ They are important to me too!</h4>
					</div>
						
				</div>
			</div>
		</div>
	</div>

{% endblock %}