{% extends 'layout.html' %}
{% block body %}
	<h1>Our Story</h1>
	<p class="lead">We established this animal adoption centre because we all love animals a lot.  We hope we could promote animal adoption and widespread the importance of the responsibility when you decided you have a pet the animal abuse problem in different places.<br>It is a hard decision to open UTOPIA because it will cost a lot of money and time to take care all of them.  If you afraid you do not have the time to care a pet but you want to have a pet, you can donate money or different stuff for the animal you want to pet.  We will help you pet it and you can come and visit them at anytime!!!</p>
{% endblock %}